/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(180deg, #e7e7e7, #E8F9FF, #C4D9FF,#C5BAFF);
    background-size: 100% 400%; /* Extend the gradient to cover scrolling */
    transition: background-position 0.5s ease;
}

/* Vertical Navbar */
.navbar {
    width: 60px;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    background: linear-gradient(180deg, #20202095, #c0c0be, #d7d7d5,#ececea);
    background-size: 100% 400%; /* Extend the gradient to cover scrolling */
    border-radius: 0px 10px 10px 0px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.navbar ul li a img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease-in-out;
}

.navbar ul li a img:hover {
    transform: scale(1.3);
}

/* Content */
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    flex: 1;
    margin-left: 80px; /* Adjusted for vertical navbar */
}

/* Text Box */
.text-box {
    background: #20202095;
    border: 5px solid rgba(32, 32, 32, 0.319);
    padding: 20px;
    margin-left: 100px;
    border-radius: 10px;
    width: 40%;
    height: 40%;
}

.text-box h1 {
    margin: 0;
    color: #4d4d4d;
}

.highlight {
    font-weight: bold;
    color: #ffffff;
}

.text-box p {
    color: #ffffff;
}

/* Button Styling */
.custom-button {
    background-color: #5f6c7b;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Button Hover Effect */
.custom-button:hover {
    background-color: #4a5563;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

/* Image */
.image img {
    width: 500px;
    height: auto;
    filter: grayscale(100%);
    margin-right: 100px;
}

/* Sections */
.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 24px;
}